.friends {
    height: 100%;
    width: 600px;
    background: #f6f7f9;
    border-right: 3px solid #eaecf0;
    overflow-y: auto;
    overflow-x: hidden;
}

.friends__button--mobile {
    position: absolute;
    top: 0px;
    bottom: 0;
    height: 30px;
    margin: auto;
    z-index: 3;
    display: none;
    background: none;
    border: none;
    font-size: 26px;
    outline: none;
    cursor: pointer;
    transition: 0.2s;
}

@media (max-width: 1180px) {
    .friends {
        width: 400px;
    }
}

@media (max-width: 660px) {
    .friends {
        width: 0px;
        position: absolute;
        transition: 0.2s;
        z-index: 1;
    }

    .friends.active {
        width: 300px;
        top: 0;
    }

    .friends__button--mobile.active {
        transform: rotate(180deg);
    }

    .friends__button--mobile {
        display: block;
    }
}

@media (max-width: 440px) {
    .friends.active {
        width: 250px;
    }
}